# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg

# Virtual environment
venv/
env/
ENV/
.venv/
.env
.env.test

# Docker
*.log
docker-compose.override.yml
docker-compose.prod.yml

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Miscellaneous
*.DS_Store
*.swp 